*,&:before,&:after{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    font-size:100%;
    font-family: $text-font;
}

h1,
h2,
h3{
    font-family: $heading-font;
}

ul,ol{
    list-style-type: none;
}