// COLORS

$ltred: hsl(356, 100%, 66%);
$vltred: hsl(355, 100%, 74%);
$vdkblue: hsl(208, 49%, 24%);
$vdkblkblue: hsl(240, 10%, 16%);
$white: #fff;

// TYPOGRAPHY

$text-font:'Overpass', sans-serif;
$heading-font: 'Ubuntu', sans-serif;

// FONT-SIZES



// BREAKPOINTS